<div class="center">
  <div id="meu_perfil">
    <a class="foto" [routerLink]="['/home']">
        <img class="img-foto" src="../../../assets/foto.jpg" alt="">
    </a>
  </div><!--meu-perfil-->
    <div class="perfil">
        <div class="usuario">
            <div class="usuario-title">Felipe1503</div>
        </div>
        <div id="menubusca">
            <ul class="nav nav-tabs">
                <li class="active"><a href="/estante/livros/todos/10119929/page:1">Estante</a></li>
                <li><a href="">Resenhas</a></li>
                <li><a href="">Recados</a></li>
                <li><a href="">Amigos</a></li>
                <li><a href="">Grupos</a></li>
                <li><a href="">Seguidores</a></li>
                <li><a href="">Seguidos</a></li>
            </ul>
        </div><!--menu-busca-->
      </div><!--perfil-->
</div><!--center-->

<!-- abandonei.html -->
<section class="recent-news">
  <div class="center">
      <div class="title"></div>
      <div *ngFor="let livro of livrosAbandonados" class="news-container-single">
          <img src="../../../assets/livro1.png" alt="">
          <h3>{{ livro.Title }}</h3>
          <p>Preço: R${{ livro.Price }}</p>
          <p>Descrição: {{ livro.review_text }}</p>
          <p>ProductId: {{livro.Id}}</p>
          <p>Score: {{livro.review_score}}</p>
          <p>Time:  {{livro.review_time}}</p>
      </div>
  </div>
</section>


<footer class="mini-rodape">
  <div class="container">
    <h2>Livros Recomendados</h2>
    <div class="livro">
      <img src="livro1.jpg" alt="Livro 1">
      <p>Nome do Livro 1</p>
    </div>
    <div class="livro">
      <img src="livro2.jpg" alt="Livro 2">
      <p>Nome do Livro 2</p>
    </div>
    <div class="livro">
      <img src="livro3.jpg" alt="Livro 3">
      <p>Nome do Livro 3</p>
    </div>
  </div>
</footer>
 <!-- <app-footer></app-footer> -->
