<div class="container">
  <div class="sobre-voce">
    <h2>Fale sobre você</h2>
    <div class="form-group">
      <div class="form-group-input">
        <label for="user">Usuario</label>
        <input type="text" placeholder="Como vai ser chamado?">
      </div><!--form-group-input-->
      <div class="form-group-input">
        <label for="user">Que tipo de livro você mais gosta?</label>
        <textarea style="padding-left: 15px;" id="story" name="story" rows="5" cols="33" placeholder="Digite sobre os livros que mais gosta"></textarea>
      </div><!--form-group-input-->
      <div class="form-group-input">
        <label for="user">Conte um pouco sobre você...</label>
        <textarea style="padding-left: 15px;" id="story" name="story" rows="5" cols="33" placeholder="Conte um pouco sobre você..."></textarea>
      </div><!--form-group-input-->
      <div class="form-group-input">
        <label for="user">Quais seus livros favoritos(cite no mínimo 3)</label>
        <textarea style="padding-left: 15px;" id="story" name="story" rows="5" cols="33" placeholder="Fale sobre os seus livros favoritos"></textarea>
      </div><!--form-group-input-->
      <div class="form-group-input">
        <a [routerLink]="['/home']"><button class="prosseguir">Prosseguir</button></a>
      </div><!--form-group-input-->
    </div><!--form-group-->
  </div><!--sobre-voce-->
</div><!--container-->
