.cadastro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cadastro-content {
  text-align: center;
  padding: 20px;
  width: 300px;
}

.cadastro-header {
  margin-bottom: 20px;
}

.cadastro-header i {
  color: #007bff;
}

.form-group {
  margin-bottom: 30px;
}

.form-control {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 15px 0;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.cadastro-footer {
  margin-top: 10px;
}

.mensagem-sucesso {
  background-color: #4CAF50;
  font-weight: bold; /* Opcional: torna o texto em negrito */
  margin-top: 5px;
}

.mensagem-erro {
  color: red;
  font-weight: bold; /* Opcional: torna o texto em negrito */
  margin-top: 5px; /* Opcional: adiciona um espaço superior para separar de outros elementos */
}
