<div class="center">
  <div id="meu_perfil">
    <a class="foto" [routerLink]="['/home']">
        <img class="img-foto" src="../../../assets/foto.jpg" alt="">
    </a>
  </div><!--meu-perfil-->
    <div class="perfil">
        <div class="usuario">
            <div class="usuario-title">Felipe1503</div>
        </div>
        <div id="menubusca">
            <ul class="nav nav-tabs">
                <li class="active"><a href="/estante/livros/todos/10119929/page:1">Estante</a></li>
                <li><a href="">Resenhas</a></li>
                <li><a href="">Recados</a></li>
                <li><a href="">Amigos</a></li>
                <li><a href="">Grupos</a></li>
                <li><a href="">Seguidores</a></li>
                <li><a href="">Seguidos</a></li>
            </ul>
        </div><!--menu-busca-->
      </div><!--perfil-->
</div><!--center-->

<section class="recent-news">
  <div class="center">
      <div class="title">
      </div><!--title-->
      <div class="news-container">
          <div class="news-container-single">
              <img src="../../../assets/livro1.png" alt="">
              <h3>Nutrição essencial</h3>
              <span>December 26, 2018</span>
          </div><!--news-container-single-->
          <div class="news-container-single">
              <img src="../../../assets/livro2.png" alt="">
              <h3>Nutrição essencial</h3>
              <span>December 26, 2018</span>
          </div><!--news-container-single-->
          <div class="news-container-single">
              <img src="../../../assets/livro3.png" alt="">
              <h3>Nutrição essencial</h3>
              <span>December 26, 2018</span>
          </div><!--news-container-single-->
          <div class="news-container-single">
            <img src="../../../assets/livro1.png" alt="">
            <h3>Nutrição essencial</h3>
            <span>December 26, 2018</span>
        </div><!--news-container-single-->
        <div class="news-container-single">
          <img src="../../../assets/livro1.png" alt="">
          <h3>Nutrição essencial</h3>
          <span>December 26, 2018</span>
      </div><!--news-container-single-->
      <div class="news-container-single">
        <img src="../../../assets/livro1.png" alt="">
        <h3>Nutrição essencial</h3>
        <span>December 26, 2018</span>
    </div><!--news-container-single-->
      </div><!--news-container-->
  </div><!--center-->
</section><!--recent-news-->

 <!-- <app-footer></app-footer> -->
