.comentario{
  display: flex;
  flex-direction: column;
}

.btn{
  margin-top: 10px;
}

.comments {
  // display: none;
  margin-top: 10px;
}

.comment {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

textarea {
  margin-top: 5px;
}
